.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  background-color: #fff;
}

.header__menu {
  display: flex;
  padding-top: 2px; /**/
}

.header_menu-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
}

.header__menu-item {
  color: #000;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
}

.header__menu-item_no-dot {
  list-style: none;
}

.header__logo {
  width: 137px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration: none;
}

.header__address {
  justify-self: flex-end;
  align-items: flex-start;
  margin-right: 36px; /**/
}

.address a {
  color: #000;
  text-decoration: underline;
}

.address span {
  color: #000;
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__title {
  padding-top: 165px;
  padding-right: 20px;
  padding-left: 50px;
  color: #fff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-top: 18px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 16px;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 106px 10px 0px 12px;
}

.cover__description-text {
  color: #fff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 10px 32px 10px 31px;
  color: #fff;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 0;
}

.lots__title {
  margin-bottom: 27px;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}

.lots__item {
  width: 334px;
  min-height: 596px;
}

.card__link {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  margin-bottom: auto;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  padding-top: 36px;
  padding-left: 2px;
}

.lots__link {
  margin-left: 40px;
  color: #000;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px 693px;
  align-items: flex-start;
  gap: 25px;
  margin: 118px 0 0;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 102px;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 24px;
  margin-right: 5px;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  margin-top: 155px;
  padding: 1px 50px 82px;
  background-color: #fff;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  color: #000;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  white-space: nowrap;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__socials-link {
  display: block;
  width: 48px;
  height: 48px;
}